/* You can delete / re-write this img class  */

img {
    max-width: 200px;
}

/* Happy coding! */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    color: #fff;
    transition: 0.5s;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.lightside {
    background-color: #fff;
    color: #000;
}

.darkside {
    background-color: #000;
    color: #fff;
}